fastapi
uvicorn[standard]

sqlalchemy
pymysql

python-jose[cryptography]
passlib[bcrypt]

python-multipart
pydantic
pydantic-settings

alembic

email-validator

python-dotenv
psycopg2-binary
pytest
httpx
